@model AmaderAd.Models.Newspaper

@{

    ViewBag.Title = "ClassifiedAdvertisement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> ইনকিলাবের খেলার পৃষ্ঠাতে বিজ্ঞাপন দিন <br>advertisement in sports page of Inqilab</h2>
<p>অনুগ্রহ পূর্বক নিচের তথ্যগুলো দিন (Please Provide the Information below) </p>

@using (Html.BeginForm("Create", "Newspapers", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "on", oninput = "myAmountLimit1()" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_NewspaperHeader", Model)

        @Html.Partial("_NewspaperBody", Model)

        @Html.Partial("_NewspaperColorOption", Model)

        @Html.Partial("_NewspaperTotalCostWithoutVat", Model)

        @Html.Partial("_NewspaperComment")

        @Html.Partial("_NewspaperFileUploadCreate")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submit-btn" value="Submit" class="btn blue " />
            </div>
        </div>
    </div>
}

@Html.Partial("_NewspaperSampleAd")



<script>
    var hour = new Date().getUTCHours() + 6;
    $(".datetime").datepicker({
        startDate: hour >= 18 ? '+2d' : '+1d',
        //daysOfWeekDisabled: "0,1,2,3,5,6",
        //daysOfWeekHighlighted: "4",
        autoclose: true
    });
</script>


<script>
    function myAmountLimit1() {

        var columnSize = $("#ColumnSize").val();
        var inchSize = $("#Inch").val();

        var isColor = $('input[name=IsColor]:checked').val();

        var priceDescription = @Html.Raw(Model.PriceDescription);

        if (isColor === "False") {
            var priceDescriptionBlack = @Html.Raw(Model.PriceDescriptionBlack);
            $("#PriceDescription").html(priceDescriptionBlack);
            $("#PriceDescription").val(priceDescriptionBlack);
            priceDescription = priceDescriptionBlack;
        }
        else if(isColor === "True") {
             var priceDescriptionColor = @Html.Raw(Model.PriceDescription);
            $("#PriceDescription").html(priceDescriptionColor);
            $("#PriceDescription").val(priceDescriptionColor);
            priceDescription = priceDescriptionColor;
        }
        $("#TotalPrice").html(0);
        $("#TotalPrice").val(0);
        var totalColumnInch = columnSize * inchSize;
        var totalPrice = columnSize * inchSize * priceDescription;
        $("#columninchwarning").empty();

        $("#TotalColumnInch").html(totalColumnInch);
        $("#TotalColumnInch").val(totalColumnInch);

        $("#TotalPrice").html(totalPrice);
        $("#TotalPrice").val(totalPrice);
    }
</script>

