
@{
    ViewBag.Title = "Naya Diganta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Naya Diganta</h2>

<div class="row" id="sortable_portlets">
    <div class="col-md-12 column sortable">
        <div class="portlet portlet-sortable  bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-puzzle font-red-flamingo"></i>
                    <span class="caption-subject bold font-red-flamingo uppercase">শ্রেণিভুক্ত বিজ্ঞাপন</span>
                    <span class="caption-helper">Classified Advertisement</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                    <a href="" class="fullscreen"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-chambray">
                                <div class="mt-head-desc">শ্রেণিভুক্ত বিজ্ঞাপন</div>
                                <span class="mt-head-date">Classified Advertisement</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "ClassifiedAdvertisement", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">মূল পত্রিকা</span>
                <span class="caption-helper">Main Paper</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet-body">
                <div class="box-heading-green box-sections box-block">
                    <p>নির্দিষ্ট পৃষ্ঠা <small>Specific Page</small></p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">

                                <div class="mt-head-desc">প্রথম  পৃষ্ঠা </div>
                                <span class="mt-head-date">1st page </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "FirstPageColorAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">

                                <div class="mt-head-desc">General Display</div>
                                <span class="mt-head-date">Advertisement</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "GeneralDisplayAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">

                                <div class="mt-head-desc">2nd পৃষ্ঠা</div>
                                <span class="mt-head-date">Second page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "SecondPageBlackWhiteAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">

                                <div class="mt-head-desc"> LastPage  পৃষ্ঠা Color</div>
                                <span class="mt-head-date">LastPage  পৃষ্ঠা Color</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "LastPageColorAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc"> Third পৃষ্ঠা</div>
                                <span class="mt-head-date">Third Page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "ThirdPageColorAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc">5 পৃষ্ঠা</div>
                                <span class="mt-head-date">Fifth Page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "FifthPageColorAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">

                                <div class="mt-head-desc"> Business  পৃষ্ঠা </div>
                                <span class="mt-head-date">Business Color</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "BusinessPageColorAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc"> Entertainment পৃষ্ঠা</div>
                                <span class="mt-head-date">Entertainment Page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "EntertainmentPageColorAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc"> Sports পৃষ্ঠা</div>
                                <span class="mt-head-date">Sports Page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "SportsPageColorAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">

                                <div class="mt-head-desc"> Inner  পৃষ্ঠা </div>
                                <span class="mt-head-date">Inner Color</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "InnerPageColorAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc"> Back Inner পৃষ্ঠা</div>
                                <span class="mt-head-date">Back Inner Page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "BackInnerPageBlackWhiteAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc"> Finance Court পৃষ্ঠা</div>
                                <span class="mt-head-date">Finance Court Page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "FinanaceCourtAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc"> Birthday Meritorious পৃষ্ঠা</div>
                                <span class="mt-head-date">Birthday Meritorious Page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "BirthdayMeritoriousStudentMissingColorAdvertisement_MainPage", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>


<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">Spot</span>
                <span class="caption-helper">(Spot)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>Spot<small>Spot</small></p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> First Page</div>
                            <span class="mt-head-date">First Page</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "FirstPageColorAdvertisement_Spot", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Last Page</div>
                            <span class="mt-head-date">Last Page</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "LastPageColorAdvertisement_Spot", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">Weekly Publication</span>
                <span class="caption-helper">(Weekly)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>Obokash<small>Obokash</small></p>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Obokash</div>
                            <span class="mt-head-date">(Weekly)</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "ObokashColorAdvertisement_WeeklyPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>Therapy<small>Weekly</small></p>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc">Therapy</div>
                            <span class="mt-head-date">(Weekly)</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "WeeklyTherapyColoradvertisement_WeeklyPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>Shatrong<small>(Weekly)</small></p>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Shatrong</div>
                            <span class="mt-head-date">(Weekly)</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "WeeklyShatrongColorAdvertisement_WeeklyPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">Regular Publication  বিজ্ঞাপন </span>
                <span class="caption-helper">(Regular Advertisement)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>Anondolok<small>Anondolok</small></p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Anondolok</div>
                            <span class="mt-head-date">Anondolok</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "AnondolokColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Binodon Sharadin</div>
                            <span class="mt-head-date">Binodon Sharadin</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "BinodonSharadinColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Diganta Shahitto</div>
                            <span class="mt-head-date">Diganta Shahitto</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "DigantaShahittoColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Nittodin</div>
                            <span class="mt-head-date">Nittodin</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "NittodinColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Syllabus</div>
                            <span class="mt-head-date">Syllabus</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "SyllabusColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Nari</div>
                            <span class="mt-head-date">Nari</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "NariColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Agdum Bagdum</div>
                            <span class="mt-head-date">Agdum Bagdum</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "AgdumBagdumColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Science And Technology</div>
                            <span class="mt-head-date">Science And Technology</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "ScienceAndTechnologyColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Mukto Bazar</div>
                            <span class="mt-head-date">Mukto Bazar</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "MuktoBazarColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> PriyoJon</div>
                            <span class="mt-head-date">PriyoJon</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "PriyoJonColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Niramoy</div>
                            <span class="mt-head-date">Niramoy</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "NiramoyColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Islami Diganta</div>
                            <span class="mt-head-date">Islami Diganta</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "IslamiDigantaColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Desh Mohadesh</div>
                            <span class="mt-head-date">Desh Mohadesh</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "DeshMohadeshColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Ajker Computer</div>
                            <span class="mt-head-date">Ajker Computer</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "AjkerComputerColorAdvertisement_RegularPublication", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
       
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">Govt.  বিজ্ঞাপন </span>
                <span class="caption-helper">(Govt. Advertisement)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>Govt. Ad<small>Govt. Ad</small></p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc">Gov tAd</div>
                            <span class="mt-head-date">Govt Ad</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "GovtAd", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc">Govt CommercialAd</div>
                            <span class="mt-head-date">Govt CommercialAd</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "GovtCommercialAd", "NayaDiganta", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
