
@{
    /**/

    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Amadershomoy</h2>

<div class="row" id="sortable_portlets">
    <div class="col-md-12 column sortable">
        <div class="portlet portlet-sortable  bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-puzzle font-red-flamingo"></i>
                    <span class="caption-subject bold font-red-flamingo uppercase">শ্রেণিভুক্ত বিজ্ঞাপন</span>
                    <span class="caption-helper">Classified Advertisement</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                    <a href="" class="fullscreen"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-chambray">
                                <div class="mt-head-desc">শ্রেণিভুক্ত বিজ্ঞাপন</div>
                                <span class="mt-head-date">Classified Advertisement</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "ClassifiedAdvertisement", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- empty sortable porlet required for each columns! -->
        <div class="portlet portlet-sortable-empty"> </div>
    </div>
</div>

<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">মূল পত্রিকা</span>
                <span class="caption-helper">Main Paper</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet-body">
                <div class="box-heading-green box-sections box-block">
                    <p>নির্দিষ্ট পৃষ্ঠা <small>Specific Page</small></p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">

                                <div class="mt-head-desc">প্রথম  পৃষ্ঠা (রঙিন)</div>
                                <span class="mt-head-date">1st page (Color)</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "FirstPageColorAdvertisement_MainPage", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">

                                <div class="mt-head-desc"> শেষ পৃষ্ঠা (রঙিন)</div>
                                <span class="mt-head-date"> last page (Color)</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "LastPageColorAdvertisemnet_MainPage", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">

                                <div class="mt-head-desc">তৃতীয় পৃষ্ঠা</div>
                                <span class="mt-head-date">3rd Page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "ThirdPageColorAdvertisement_MainPage", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">
                                <div class="mt-head-desc"> পঞ্চম  পৃষ্ঠা</div>
                                <span class="mt-head-date">5th Page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "FifthPageColorAdvertisement_MainPage", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc"> অষ্টম পৃষ্ঠা</div>
                                <span class="mt-head-date">8th Page </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "EightPageColorAdvertisement_MainPage", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">
                                <div class="mt-head-desc"> দশম পৃষ্ঠা</div>
                                <span class="mt-head-date">Tenth page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "TenPageColorAdvertisement_MainPage", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">
                                <div class="mt-head-desc">দ্বিতীয় পৃষ্ঠা</div>
                                <span class="mt-head-date">Second Page</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "SecondPageColorAdvertisement_MainPage", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">

                                <div class="mt-head-desc">এগারতম পৃষ্ঠা (রঙিন) </div>
                                <span class="mt-head-date">Eleventh Page (Color)</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "ElevenPageColorAdvertisement_MainPage", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">

                                <div class="mt-head-desc">ভিতরের সাধারণ পৃষ্ঠা (রঙিন)   </div>
                                <span class="mt-head-date"> Inner Page (Color)</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "InnerPageColorAdvertisement_MainPage", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>

      
            <div class="portlet-body">
                <div class="box-heading-green box-sections box-block">
                    <p>স্পট বিজ্ঞাপন <small>Spot Advertisement</small></p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-purple">

                                <div class="mt-head-desc">প্রথম পাতা</div>
                                <span class="mt-head-date">First Page  </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "FirstPageSpotAdvertisement_MainPage", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-purple">

                                <div class="mt-head-desc">শেষের পাতা</div>
                                <span class="mt-head-date">Last Page  </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "LastPageSpotAdvertisementMainPage", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
   

        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>নিয়মিত ক্রোরপত্র  <small>Feature Paper</small></p>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-yellow-gold">

                            <div class="mt-head-desc">বিশেষ ক্রোরপত্র (রঙিন) </div>
                            <span class="mt-head-date">Feature Paper (Color)</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "SpecialKororpotroColorAdvertisement", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-yellow-gold">

                            <div class="mt-head-desc">বিশেষ ক্রোরপত্র (সাদা কালো)</div>
                            <span class="mt-head-date">Feature Paper (Black and White)</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "SpecialKororpotroBlackandWhiteAdvertisement", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>



  

    </div>
</div>



<div class="row" id="sortable_portlets">
    <div class="col-md-12 column sortable">
        <div class="portlet portlet-sortable  bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-puzzle font-red-flamingo"></i>
                    <span class="caption-subject bold font-red-flamingo uppercase">Weekly Feature</span>
                    <span class="caption-helper">Weekly Feature</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                    <a href="" class="fullscreen"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="box-heading-green box-sections box-block">
                    <p>আয়না সময়   <small>Ayna Shomoy</small></p>
                </div>
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-yellow-gold">

                                <div class="mt-head-desc">প্রথম পাতা (রঙিন) </div>
                                <span class="mt-head-date">First Page (Color)</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "AynashomoyFirstPageColorAdvertisement", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-yellow-gold">

                                <div class="mt-head-desc">শেষের পাতা (রঙিন))</div>
                                <span class="mt-head-date">Last Page (color)</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "AynashomoyLastPageColorAdvertisement", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-yellow-gold">

                                <div class="mt-head-desc">তৃতীয় পাতা (রঙিন))</div>
                                <span class="mt-head-date">Third Page (Color)</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "AynashomoyThirdPageColorAdvertisement", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-yellow-gold">

                                <div class="mt-head-desc">সাধারন পাতা (রঙিন))</div>
                                <span class="mt-head-date">Genarel Page (Color)</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "AynashomoyGeneralPageColorAdvertisement", "Amadershomoy", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>



                </div>

            </div>
        </div>
        <!-- empty sortable porlet required for each columns! -->
        <div class="portlet portlet-sortable-empty"> </div>
    </div>
</div>




                <script src="~/Content/metronic/portlet-draggable.js"></script>
