
@{
    /**/

    ViewBag.Title = "NewsToday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>News Today</h2>

<div class="row" id="sortable_portlets">
    <div class="col-md-12 column sortable">
        <div class="portlet portlet-sortable  bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-puzzle font-red-flamingo"></i>

                    <span class="caption-helper">Classified Advertisement</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                    <a href="" class="fullscreen"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-chambray">
                                <div class="mt-head-desc">Classified Advertisement</div>
                                <span class="mt-head-date"></span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "ClassifiedAdvertisement", "NewsToday", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- empty sortable porlet required for each columns! -->
        <div class="portlet portlet-sortable-empty"> </div>
    </div>
</div>

<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">Main Paper</span>
                <span class="caption-helper"></span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet-body">
                <div class="box-heading-green box-sections box-block">
                    <p>Specific Page</p>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">

                                <div class="mt-head-desc">Front Page (Color) </div>
                                <span class="mt-head-date">Maximum 80 Column Inch </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "FrontPage_MainPage", "NewsToday", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">

                                <div class="mt-head-desc">Back Page (Color)</div>
                                <span class="mt-head-date">Maximum 80 Column Inch  </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "BackPage_MainPage", "NewsToday", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc"> Third Page (Color)</div>
                                <span class="mt-head-date">Maximum 80 Column Inch </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "ThirdPage_MainPage", "NewsToday", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>





                <div class="row">
                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc"> Inner Page (color)</div>
                                <span class="mt-head-date"></span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "InnerPage_MainPage", "NewsToday", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">

                                <div class="mt-head-desc">Different catagories advertyisements </div>
                                <span class="mt-head-date"></span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "DifferentCat_MainPage", "NewsToday", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">

                                <div class="mt-head-desc"> News today career opportunity vacancy black and white advertisement </div>
                                <span class="mt-head-date"> </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "Career_MainPage", "NewsToday", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">

                                <div class="mt-head-desc">News Today birthday tolet purchase sale tution qulkhani lost and found wanted scholarship coaching center reunion exibition academic feat fashion show cultural programme   </div>
                                <span class="mt-head-date"></span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "BirthdayTolet_MainPage", "NewsToday", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="col-md-12 column sortable">
        <div class="portlet portlet-sortable  bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift font-red-flamingo"></i>
                    <span class="caption-subject bold font-red-flamingo uppercase">Govt.  বিজ্ঞাপন </span>
                    <span class="caption-helper">(Govt. Advertisement)</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                    <a href="" class="fullscreen"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="box-heading-green box-sections box-block">
                    <p>Govt. Ad<small>Govt. Ad</small></p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-purple">
                                <div class="mt-head-desc">Gov tAd</div>
                                <span class="mt-head-date">Govt Ad</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "GovtAd", "Inqilab", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-purple">
                                <div class="mt-head-desc">Govt CommercialAd</div>
                                <span class="mt-head-date">Govt CommercialAd</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "GovtCommercialAd", "Inqilab", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Content/metronic/portlet-draggable.js"></script>
