@model AmaderAd.Models.Newspaper

@{
    ViewBag.Title = Model.AdLocation;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Color Advertisement In Star Weekend Back Inner Page At Daily Star</h2>
<p>অনুগ্রহ পূর্বক নিচের তথ্যগুলো দিন (Please Provide the Information below) </p>

@using (Html.BeginForm("Create", "Newspapers", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "on", oninput = "myAmountLimit1()" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Partial("_NewspaperHeader", Model)

        @Html.Partial("_NewspaperBody", Model)

        @{
            if (Model.IsColorOption == true)
            {
                @Html.Partial("_NewspaperColorOption", Model)
            }
        }

        @Html.Partial("_NewspaperTotalCostWithoutVat", Model)

        @Html.Partial("_NewspaperComment")

        @Html.Partial("_NewspaperFileUploadCreate")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submit-btn" value="Submit" class="btn blue " />
            </div>
        </div>
    </div>
}

@Html.Partial("_NewspaperSampleAd")


<script>
    var hour = new Date().getUTCHours() + 6;
    $(".datetime").datepicker({
        startDate: hour >= 18 ? '+2d' : '+1d',
        daysOfWeekDisabled: "0,1,3,4,5,6",
        daysOfWeekHighlighted: "2",
        autoclose: true
    });
</script>



<script>

    function myAmountLimit1() {

        var priceDescription = @Html.Raw(Model.PriceDescription);

        var columnSize = $("#ColumnSize").val();
        var inchSize = $("#Inch").val();
        var totalColumnInch = columnSize * inchSize;

        var minColumn=@Html.Raw(Model.MinTotalColumnInch);
        var maxColumn=@Html.Raw(Model.MaxTotalColumnInch);
        var maxMinRestriction = "@Html.Raw(Model.MinMaxRestrictiion)";


        if (maxMinRestriction === "True" && (totalColumnInch < minColumn || totalColumnInch > maxColumn) ){
            $("#columninchwarning").html("এই পেজে কমপক্ষে " + minColumn + " কলাম ইঞ্চি ও সর্বোচ্চ " + maxColumn + " কলাম ইঞ্চির বিজ্ঞাপন দিতে হবে  <br>You can publish atleast " + minColumn + " column inch and maximum  " + maxColumn + "  column inch here ");
            $("#TotalPrice").html(0);
            $("#TotalPrice").val(0);
            $("#submit-btn").attr("disabled", "disabled");
        }
        else {
            priceDescription = $("#PriceDescription").val();
            $("#columninchwarning").empty();
            var totalPrice = totalColumnInch * priceDescription;
            $("#TotalColumnInch").html(totalColumnInch);
            $("#TotalColumnInch").val(totalColumnInch);
            $("#TotalPrice").html(totalPrice);
            $("#TotalPrice").val(totalPrice);
        }

    }


</script>
