@model IEnumerable<AmaderAd.Models.Newspaper>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
   
        <th>
            @Html.DisplayNameFor(model => model.NewspaperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvertiserName)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.AdvertiserMobile)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.DateofPublication)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.TotalColumnInch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainImagePath)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
 
        <td>
            @Html.DisplayFor(modelItem => item.NewspaperName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertiserName)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.AdvertiserMobile)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.DateofPublication)
        </td>
    
        <td>
            @Html.DisplayFor(modelItem => item.TotalColumnInch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
        @{
            if (!string.IsNullOrEmpty(item.MainImagePath))
            {
                <a href="@item.MainImagePath" data-lightbox="image-1" data-title="@item.MainImagePath">
                    <img src="@item.MainImagePath" class="img-display"/>
                </a>
            }
        }

    
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOnUtc)
        </td>
    
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
