
@{
    /**/

    ViewBag.Title = "NewAge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>NewAge</h2>

<div class="row" id="sortable_portlets">
    <div class="col-md-12 column sortable">
        <div class="portlet portlet-sortable  bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-puzzle font-red-flamingo"></i>

                    <span class="caption-helper">Classified Advertisement</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                    <a href="" class="fullscreen"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-chambray">
                                <div class="mt-head-desc">Classified Advertisement</div>
                                <span class="mt-head-date"></span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "ClassifiedAdvertisement", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- empty sortable porlet required for each columns! -->
        <div class="portlet portlet-sortable-empty"> </div>
    </div>
</div>

<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">Main Paper</span>
                <span class="caption-helper"></span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet-body">
                <div class="box-heading-green box-sections box-block">
                    <p>Specific Page</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">
                                <div class="mt-head-desc">Front Page (Color) </div>
                                <span class="mt-head-date">Maximum 80 Column Inch </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "FrontPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-green-jungle">

                                <div class="mt-head-desc">Back Page (Color)</div>
                                <span class="mt-head-date">Maximum 80 Column Inch  </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "BackPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc"> Third Page (Color)</div>
                                <span class="mt-head-date">Maximum 80 Column Inch </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "ThirdPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue">

                                <div class="mt-head-desc"> Business Font Page (color)</div>
                                <span class="mt-head-date">Maximum 80 Column Inch </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "BusinessFrontPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">

                                <div class="mt-head-desc">Business Back Page (Color) </div>
                                <span class="mt-head-date">Maximum 80 Column Inch</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "BusinessBackPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">

                                <div class="mt-head-desc">Other Inner Page (Color)   </div>
                                <span class="mt-head-date"></span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "OtherInnerPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">

                                <div class="mt-head-desc">New Age Inner page Notice Legal Public Appeal Tender Trademark Announcement Conference Meeting Attention black and white advertisement </div>
                                <span class="mt-head-date"> </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "InnerPageNoticeLegalPublicAppealTenderActionTrademarkAnnouncementConferenceMeetingAttentionBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">

                                <div class="mt-head-desc">New Age Inner page Career Oppurtunity/Vacancy black and white advertisement </div>
                                <span class="mt-head-date"> </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "InnerPageCareerOpportumityVacancyBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-steel">

                                <div class="mt-head-desc">New Age Inner page Career Oppurtunity/Vacancy black and white advertisement </div>
                                <span class="mt-head-date"> </span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "InnerPageCareerOpportumityVacancyBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>






                <div class="portlet-body">
                    <div class="box-heading-green box-sections box-block">
                        <p>স্পট বিজ্ঞাপন <small>Spot Advertisement</small></p>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-purple">

                                    <div class="mt-head-desc">প্রথম পাতা</div>
                                    <span class="mt-head-date">First Page  </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "FrontPage_Spot", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-purple">

                                    <div class="mt-head-desc">শেষের পাতা</div>
                                    <span class="mt-head-date">Last Page  </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "BackPage_Spot", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-purple">

                                    <div class="mt-head-desc">প্রথম পাতা</div>
                                    <span class="mt-head-date">First Page  </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "MetroPage_Spot", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-purple">

                                    <div class="mt-head-desc">শেষের পাতা</div>
                                    <span class="mt-head-date">Last Page  </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "BusinessPage_Spot", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-purple">

                                    <div class="mt-head-desc">শেষের পাতা</div>
                                    <span class="mt-head-date">Last Page  </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "SportsPage_Spot", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">Panel </span>
                <span class="caption-helper">(Panel Advertisement)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-yellow box-sections box-block">
                <p>Panel<small> Ad</small></p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> FrontPage_Panel</div>
                            <span class="mt-head-date">FrontPage_Panel</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "FrontPage_Panel", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> BackPage_Panel</div>
                            <span class="mt-head-date">BackPage_Panel</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "BackPage_Panel", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> InnerPage_Panel</div>
                            <span class="mt-head-date">InnerPage_Panel</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "InnerPage_Panel", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> BusinessFrontPage_Panel</div>
                            <span class="mt-head-date">BusinessFrontPage_Panel</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "BusinessFrontPage_Panel", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> SportsFrontPage_Panel</div>
                            <span class="mt-head-date">SportsFrontPage_Panel</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "SportsFrontPage_Panel", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase"> Liner/ Band </span>
                <span class="caption-helper">( Liner/ Band Advertisement)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-blue box-sections box-block">
                <p>Linear<small> Ad</small></p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> FrontPage_Liner</div>
                            <span class="mt-head-date">FrontPage_Liner</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "FrontPage_Liner", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-red-flamingo">
                            <div class="mt-head-desc"> BackPage_Panel</div>
                            <span class="mt-head-date">BackPage_Panel</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "BackPage_Panel", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> MetroPage_Liner</div>
                            <span class="mt-head-date">MetroPage_Liner</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "MetroPage_Liner", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> BusinessPage_Liner</div>
                            <span class="mt-head-date">BusinessPage_Liner</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "BusinessPage_Liner", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> SportsPage_Liner</div>
                            <span class="mt-head-date">SportsPage_Liner</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "SportsPage_Liner", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase"> online ad </span>
                <span class="caption-helper">(Advertisement)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-pink box-sections box-block">
                <p>Online<small> Ad</small></p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-yellow-mint-opacity">
                            <div class="mt-head-desc"> MiddleBannerType1_Online</div>
                            <span class="mt-head-date">MiddleBannerType1_Online</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "MiddleBannerType1_Online", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-grey-salt">
                            <div class="mt-head-desc"> LeftHandSideType1_Online</div>
                            <span class="mt-head-date">LeftHandSideType1_Online</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "LeftHandSideType1_Online", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-grey-gallery-opacity">
                            <div class="mt-head-desc"> LeftHandSideFront_Online</div>
                            <span class="mt-head-date">LeftHandSideFront_Online</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "LeftHandSideFront_Online", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple-wisteria">
                            <div class="mt-head-desc"> LeftHandSideBusiness_Online</div>
                            <span class="mt-head-date">LeftHandSideBusiness_Online</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "LeftHandSideBusiness_Online", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> LeftHandSideOtherLink_Online</div>
                            <span class="mt-head-date">LeftHandSideOtherLink_Online</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "LeftHandSideOtherLink_Online", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase"> Trends ad </span>
                <span class="caption-helper">(Advertisement)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>Trends<small> Ad</small></p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-olive">
                            <div class="mt-head-desc"> BackCover_Trends</div>
                            <span class="mt-head-date">BackCover_Trends</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "BackCover_Trends", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head border-bottom-before-green-meadow">
                            <div class="mt-head-desc"> SecondCover_Trends</div>
                            <span class="mt-head-date">SecondCover_Trends</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "SecondCover_Trends", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> ThirdCover_Trends</div>
                            <span class="mt-head-date">ThirdCover_Trends</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "ThirdCover_Trends", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> InnerFullPage_Trends</div>
                            <span class="mt-head-date">InnerFullPage_Trends</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "InnerFullPage_Trends", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> CenterSpread_Trends</div>
                            <span class="mt-head-date">CenterSpread_Trends</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "CenterSpread_Trends", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase"> Xtra ad </span>
                <span class="caption-helper">(Advertisement)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>Xtra<small> Ad</small></p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> BackCover_Xtra</div>
                            <span class="mt-head-date">BackCover_Xtra</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "BackCover_Xtra", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-after-blue-dark">
                            <div class="mt-head-desc"> SecondCover_Xtra</div>
                            <span class="mt-head-date">SecondCover_Xtra</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "SecondCover_Xtra", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-after-blue-hoki">
                            <div class="mt-head-desc"> ThirdCover_Xtra</div>
                            <span class="mt-head-date">ThirdCover_Xtra</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "ThirdCover_Xtra", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-after-blue-oleo">
                            <div class="mt-head-desc"> InnerFullPage_Xtra</div>
                            <span class="mt-head-date">InnerFullPage_Xtra</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "InnerFullPage_Xtra", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-after-grey-cararra">
                            <div class="mt-head-desc"> CenterSpread_Xtra</div>
                            <span class="mt-head-date">CenterSpread_Xtra</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "CenterSpread_Xtra", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase"> Culture & Living Weekly ad </span>
                <span class="caption-helper">(Advertisement)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>Culture & Living Weekly<small> Ad</small></p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> FrontPage_Life</div>
                            <span class="mt-head-date">FrontPage_Life</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "BackCover_Trends", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-after-green-soft">
                            <div class="mt-head-desc"> BackPage_Life</div>
                            <span class="mt-head-date">BackPage_Life</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "BackPage_Life", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-after-grey-gallery">
                            <div class="mt-head-desc"> InnerPage_Life</div>
                            <span class="mt-head-date">InnerPage_Life</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "InnerPage_Life", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
</div>

<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">Govt.  বিজ্ঞাপন </span>
                <span class="caption-helper">(Govt. Advertisement)</span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="box-heading-green box-sections box-block">
                <p>Govt<small>(Ad)</small></p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Gov tAd</div>
                            <span class="mt-head-date">Govt Ad</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "GovtAd", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-purple">
                            <div class="mt-head-desc"> Govt CommercialAd</div>
                            <span class="mt-head-date">Govt CommercialAd</span>
                            <div class="mt-head-button">
                                @Html.ActionLink("Click here to place your Ad", "GovtCommercialAd", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/Content/metronic/portlet-draggable.js"></script>
