
@{
    /**/

    ViewBag.Title = "NewAge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>NewAge</h2>

<div class="row" id="sortable_portlets">
    <div class="col-md-12 column sortable">
        <div class="portlet portlet-sortable  bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-puzzle font-red-flamingo"></i>
                   
                    <span class="caption-helper">Classified Advertisement</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                    <a href="" class="fullscreen"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-blue-chambray">
                                <div class="mt-head-desc">Classified Advertisement</div>
                                <span class="mt-head-date"></span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "ClassifiedAdvertisement", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- empty sortable porlet required for each columns! -->
        <div class="portlet portlet-sortable-empty"> </div>
    </div>
</div>

<div class="col-md-12 column sortable">
    <div class="portlet portlet-sortable  bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-red-flamingo"></i>
                <span class="caption-subject bold font-red-flamingo uppercase">Main Paper</span>
                <span class="caption-helper"></span>
            </div>
            <div class="tools">
                <a href="" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a href="" class="reload"> </a>
                <a href="" class="fullscreen"> </a>
                <a href="" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="portlet-body">
                <div class="box-heading-green box-sections box-block">
                    <p>Specific Page</p>
                </div>
                <div class="row">
                    <div class="col-md-3">

                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-green-jungle">

                                    <div class="mt-head-desc">Front Page (Color) </div>
                                    <span class="mt-head-date">Maximum 80 Column Inch </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "FrontPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-green-jungle">

                                    <div class="mt-head-desc"> Front Page (Black and White)  </div>
                                    <span class="mt-head-date">Maximum 80 Column Inch  </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "FrontPageBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-green-jungle">

                                    <div class="mt-head-desc">Back Page (Color)</div>
                                    <span class="mt-head-date">Maximum 80 Column Inch  </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "BackPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-green-jungle">

                                    <div class="mt-head-desc">Back Page (Black and White)</div>
                                    <span class="mt-head-date">Maximum 80 Column Inch   </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "BackPageBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-blue">

                                    <div class="mt-head-desc"> Third Page (Color)</div>
                                    <span class="mt-head-date">Maximum 80 Column Inch </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "ThirdPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-blue">

                                    <div class="mt-head-desc"> Third Page (Color)</div>
                                    <span class="mt-head-date">Maximum 80 Column Inch</span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "ThirdPageBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-blue">

                                    <div class="mt-head-desc"> Business Font Page (color)</div>
                                    <span class="mt-head-date">Maximum 80 Column Inch </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "BusinessFrontPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-blue">

                                    <div class="mt-head-desc">Business Font Page (Black and White) </div>
                                    <span class="mt-head-date">Maximum 80 Column Inch</span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "BusinessFrontPageBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-blue-steel">

                                    <div class="mt-head-desc">Business Back Page (Color) </div>
                                    <span class="mt-head-date">Maximum 80 Column Inch</span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "BusinessBackPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-blue-steel">

                                    <div class="mt-head-desc"> Business Back Page(Black and White) </div>
                                    <span class="mt-head-date"> Maximum 80 Column Inch</span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "BusinessBackPageBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-blue-steel">

                                    <div class="mt-head-desc">Other Inner Page (Color)   </div>
                                    <span class="mt-head-date"></span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "OtherInnerPageColorAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-blue-steel">

                                    <div class="mt-head-desc">Other Inner Page(Black and White) </div>
                                    <span class="mt-head-date"> </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "OtherInnerPageBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-blue-steel">

                                    <div class="mt-head-desc">New Age Inner page Notice Legal Public Appeal Tender Trademark Announcement Conference Meeting Attention black and white advertisement </div>
                                    <span class="mt-head-date"> </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "InnerPageNoticeLegalPublicAppealTenderActionTrademarkAnnouncementConferenceMeetingAttentionBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-blue-steel">

                                    <div class="mt-head-desc">New Age Inner page AGM EGM financial Statement black and white advertisement </div>
                                    <span class="mt-head-date"> </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "InnerPageAGMEGMFinancialStatementBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-blue-steel">

                                    <div class="mt-head-desc">New Age Inner page Career Oppurtunity/Vacancy black and white advertisement </div>
                                    <span class="mt-head-date"> </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "InnerPageCareerOpportumityVacancyBlackWhiteAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="portlet-body">
                    <div class="box-heading-green box-sections box-block">
                        <p>স্পট বিজ্ঞাপন <small>Spot Advertisement</small></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-purple">

                                    <div class="mt-head-desc">প্রথম পাতা</div>
                                    <span class="mt-head-date">First Page  </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "firstpagespotAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mt-widget-3">
                                <div class="mt-head bg-purple">

                                    <div class="mt-head-desc">শেষের পাতা</div>
                                    <span class="mt-head-date">Last Page  </span>
                                    <div class="mt-head-button">
                                        @Html.ActionLink("Click here to place your Ad", "lastpagespotAdvertisement_MainPage", "NewAge", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- empty sortable porlet required for each columns! -->
        <div class="portlet portlet-sortable-empty"> </div>
    </div>


    <div class="col-md-12 column sortable">
        <div class="portlet portlet-sortable  bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift font-red-flamingo"></i>
                    <span class="caption-subject bold font-red-flamingo uppercase">Govt.  বিজ্ঞাপন </span>
                    <span class="caption-helper">(Govt. Advertisement)</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="" class="reload"> </a>
                    <a href="" class="fullscreen"> </a>
                    <a href="" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="box-heading-green box-sections box-block">
                    <p>Govt. Ad<small>Govt. Ad</small></p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-purple">
                                <div class="mt-head-desc">Gov tAd</div>
                                <span class="mt-head-date">Govt Ad</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "GovtAd", "Inqilab", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-widget-3">
                            <div class="mt-head bg-purple">
                                <div class="mt-head-desc">Govt CommercialAd</div>
                                <span class="mt-head-date">Govt CommercialAd</span>
                                <div class="mt-head-button">
                                    @Html.ActionLink("Click here to place your Ad", "GovtCommercialAd", "Inqilab", new object { }, new { @class = "btn btn-circle btn-outline white btn-sm" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="~/Content/metronic/portlet-draggable.js"></script>
