<h2>শ্রেণিভুক্ত বিজ্ঞাপন </h2>
<h2>Classified Advertisement</h2>

<p>শ্রেণিভুক্ত বিজ্ঞাপনে কোনো দর্শনীও শিরোনাম দেওয়া হয় না । এ জাতীয় বিজ্ঞাপনের মূল্য প্রথম @Model.FirstWordLimitBase শব্দের জন্য মোট @Model.PriceDescription টাকা এবং পরবর্তী প্রতি শব্দের জন্য @Model.ExtraWordPrice টাকা । শ্রেণিভুক্ত বিজ্ঞাপন সর্বোচ্চ @Model.WordLimit শব্দের মধ্যে হতে হবে ।</p>
<p>No noticable headline will be given on classified advertisement. For This type of advertisement first @Model.FirstWordLimitBase words will be charged @Model.PriceDescription tk and after each word,  @Model.ExtraWordPrice tk will be added with per word. The maximum word limit for classified ad is  @Model.WordLimit words.</p>

