<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Amader Ad</title>
    @Html.Partial("_LayoutHead")
</head>
<body>
    <div class="container body-content" style="background-color:#fff">
        @Html.Partial("_TopMenu")
        @RenderBody()   
    </div>
    <div class="container" id="footer">
        @Html.Partial("_Footer")
        @Html.Partial("_LayoutFooter")
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
