@model AmaderAd.Models.Newspaper

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.NewsGuidId)


@Html.Partial("_NewspaperHeader", Model)

@Html.Partial("_NewspaperAdCategory", Model)

@Html.Partial("_NewspaperBody", Model)

@Html.Partial("_NewspaperDescriptionAd", Model)

@Html.Partial("_NewspaperTotalCostWithoutVat", Model)

@Html.Partial("_NewspaperColorOption", Model)


@Html.Partial("_NewspaperComment", Model)

@Html.Partial("_NewspaperFileUploadCreate", Model)




<div class="form-group">
    @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

