@model AmaderAd.Models.Payment


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Index", "Payments"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Partial("_NewspaperPaymentHeader", Model)



    <div class="form-group">
        @Html.LabelFor(model => model.Newspaper.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="word-break: keep-all;">
            @Html.EditorFor(model => model.Newspaper.Description, new { htmlAttributes = new { style = "display:none;", @class = "form-control", @readonly = "readonly" } })
            @Model.Newspaper.Description
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Total Cost with 15% VAT", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Newspaper.TotalPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Newspaper.TotalPrice, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <h1>Select Payment methods</h1>

    @foreach (var item in Model.PaymentMethods)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1">@Html.RadioButtonFor(model => item.Name, item.Id, new { @class = "paymentTypes" }) </div>
                <div class="col-md-3">
                    @item.Name
                </div>
            </div>
        </div>
    }
    

    @Html.HiddenFor(model => model.PaymentChannel)
    

    @*<div id="bkash-payment" style="display: none;">
        <h3>How to pay</h3>
        <div class="row">
            <div class="col-md-6">
                <span style="white-space: pre-line">@Model.PaymentMethods[0].Instructions</span>
            </div>
            <div class="col-md-6">
                @{
                    if (!string.IsNullOrEmpty(Model.PaymentMethods[0].InstructionsImageUrl))
                    {

                        <a href="@Model.PaymentMethods[0].InstructionsImageUrl" data-lightbox="image-1" data-title="@Model.PaymentMethods[0].Name">
                            <img src="@Model.PaymentMethods[0].InstructionsImageUrl" class="img-display-payment" />
                        </a>
                    }
                }
            </div>
        </div>
    </div>

    <div id="rocket-payment" style="display: none;">
        <h3>How to pay</h3>
        <div class="row">
            <div class="col-md-6">
                <span style="white-space: pre-line">@Model.PaymentMethods[1].Instructions</span>
            </div>
            <div class="col-md-6">
                @{
                    if (!string.IsNullOrEmpty(Model.PaymentMethods[1].InstructionsImageUrl))
                    {

                        <a href="@Model.PaymentMethods[1].InstructionsImageUrl" data-lightbox="image-1" data-title="@Model.PaymentMethods[1].Name">
                            <img src="@Model.PaymentMethods[1].InstructionsImageUrl" class="img-display-payment" />
                        </a>
                    }
                }
            </div>
        </div>
    </div>
    <div id="internet-payment" style="display: none;">
        <h3>Coming soon...</h3>
    </div>

    <div id="card-payment" style="display: none;">
        <h3>How to pay</h3>
        <div class="row">
            <div class="col-md-6">
                <span style="white-space: pre-line">@Model.PaymentMethods[3].Instructions</span>
            </div>
            <div class="col-md-6">
                @{
                    if (!string.IsNullOrEmpty(Model.PaymentMethods[3].InstructionsImageUrl))
                    {

                        <a href="@Model.PaymentMethods[3].InstructionsImageUrl" data-lightbox="image-1" data-title="@Model.PaymentMethods[3].Name">
                            <img src="@Model.PaymentMethods[3].InstructionsImageUrl" class="img-display-payment" />
                        </a>
                    }
                }
            </div>
        </div>
    </div>*@

    <div id="mobilePayment"  style="display: none;">
        <div class="form-group">
            @Html.LabelFor(model => model.PaymentMobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentMobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaymentMobile, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PaymentTrxId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentTrxId, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.PaymentTrxId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PaymentAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaymentAmount, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="submit-btn" value="Submit" class="btn blue " />
        </div>
    </div>
</div>
}



<script>
    $(".paymentTypes").change(function () {
        var paymentChannel = this.value;

        $("#PaymentChannel").val(paymentChannel);

        //create jquery - ajax call to display 

        // end

        //if (paymentChannel === '1' ) {
        //    $("#bkash-payment").css("display", "block");
        //    $("#rocket-payment").css("display", "none");
        //    $("#internet-payment").css("display", "none");
        //    $("#card-payment").css("display", "none");
        //}

        //else if (paymentChannel === '2' ) {
        //    $("#bkash-payment").css("display", "none");
        //    $("#rocket-payment").css("display", "block");
        //    $("#internet-payment").css("display", "none");
        //    $("#card-payment").css("display", "none");
        //}

        //else if (paymentChannel === '3' ) {
        //    $("#bkash-payment").css("display", "none");
        //    $("#rocket-payment").css("display", "none");
        //    $("#internet-payment").css("display", "block");
        //    $("#card-payment").css("display", "none");
        //}

        //else if (paymentChannel === '4' || paymentChannel === '5') {
        //    $("#mobile-payment").css("display", "none");
        //    $("#rocket-payment").css("display", "none");
        //    $("#internet-payment").css("display", "none");
        //    $("#card-payment").css("display", "block");
        //}


        if (paymentChannel === '1' || paymentChannel === '2') {
            $("#mobilePayment").css("display", "block");
        } else {
            $("#mobilePayment").css("display", "none");
        }
    });
</script>