@model IEnumerable<AmaderAd.Models.Payment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>



<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.NewspaperName)
        </th>
    

        <th>
            @Html.DisplayNameFor(model => model.AdvertiserName)
        </th>

 

        <th>
            @Html.DisplayNameFor(model => model.DateofPublication)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
      
 
        <th>
            @Html.DisplayNameFor(model => model.PaymentChannel)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>    <td>
                @Html.DisplayFor(modelItem => item.NewspaperName)
            </td>     

            <td>
                @Html.DisplayFor(modelItem => item.AdvertiserName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateofPublication)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
       
            <td>
                @Html.DisplayNameFor(model => model.PaymentChannel)
            </td>

            <td>
                @Html.DisplayNameFor(model => model.PaymentAmount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreatedOnUtc)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
